
#bottle {
    .cls-1{
        fill:#ff6a00;
    }
    .cls-2{
        stroke:#000;
        stroke-miterlimit:10;
        stroke-width:5px;
    }
    .cls-3{
        fill:#fff;
    }
}
.container {
    display: grid;
    height: 100vh;
  }